.registrazione {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d1f2eb;
}

.scheda {
  flex-direction: column;
  text-align: center;
}

.icona {
  color: white;
  justify-content: center;
  font-size: xx-large;
}

.scheda button {
  width: 40%;
  height: 30px;
  border: none;
  border-radius: 40px;
  color: white;
  background: #dabcf3;
}

.link-registrazione a {
  color: aliceblue;
  text-decoration: none;
}

input::placeholder {
  color: black !important;
}

.rounded-circle {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
